div.ant-pro-steps-form-container {
  width: unset;
  min-width: unset;
  max-width: none !important;
  margin: auto !important;
}

div.ant-pro-checkcard:last-child {
    margin-right: 16px;;
}

div.ant-pro-checkcard-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.ant-pro-checkcard.ant-pro-checkcard-bordered {
    width: 175px;
}

span.ant-descriptions-item-label {
    font-weight: 700;
}